
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.email_field :email, autofocus: true, class: "form-control form-control-lg" %>
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
                    <label class="form-label" for="form2Example27">Password Confirmation</label>
                  </div>
              
                  <div class="actions">
                    <%= f.submit "Sign up", class: "btn btn-dark btn-lg btn-block" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %> 
