<!DOCTYPE html>
<html>
  <head>
    <title>DiscountInss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <%= video_tag(
        "finance_30fps.mp4",
        id: "background",
        autoplay: true,
        loop: true,
        muted: true,
        poster: "home_bg.png",
      ) %>
      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
