<!DOCTYPE html>
<html>
  <head>
    <title>DiscountInss</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      <% if user_signed_in? %>
        <%= image_tag('home_bg.png', class: 'img-fluid transparent-background', id: 'background') %>
      <% else %>
        <%= video_tag(
          "finance_30fps.mp4",
          id: 'background',
          class: 'transparent-background',
          autoplay: true,
          loop: true,
          muted: true,
          poster: 'home_bg.png'
          )
        %>
      <% end %>

      <%= render 'shared/navbar' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
